body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    
    background-color: gray;
    /* padding: .8rem; */
    padding: 1.6rem;
    /* margin-bottom: .6rem; */
    /* margin-top: 4rem; */
    border-radius: 0.6rem;
    border: .2rem solid;
    box-shadow: .6rem .6rem .6rem rgb(4, 3, 32);
}

.btn-container {
    display: grid;
    /* grid-template-columns: repeat(4, 3rem); */
    grid-template-columns: repeat(4, 4rem);
    /* grid-template-rows: repeat(5, 3rem); */
    grid-template-rows: repeat(5, 4rem);
}

.btn-container > button {
    margin: .30rem;
    border: .1rem solid black;
    border-radius: 2rem;
    cursor: pointer;
    background-color: rgb(204, 223, 240);
    place-content: center;
    outline: none;
    
}

.btn-container > button:hover {
    background-color: azure;
    transform: scale(1.2);
}

button.equals {
    background-color: rgb(103, 212, 103);
}

button.allClear,
button.clear {
    background-color: rgb(235, 87, 87);
}

button.operator {
    background-color: rgb(127, 255, 212);
}

button#reverse {
    background-color: rgb(204, 223, 240);
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: .75rem;
    margin-bottom: .4rem;
    background-color: hsla(180, 69%, 90%, 0.8);
    border-radius: .6rem;
    border: .2rem solid;
    word-wrap: break-word;
    word-break: break-all;

}

.previousvalue {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .7rem;
}

.currentvalue {
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: right;
}

.previousvalue,
.currentvalue {
    min-height: 1.2rem;
}

#footer {
    /* margin-top: 4rem; */
    margin-top: 1rem;
}

#footer p {
    font-size: .8rem;
}

#footer a {
    font-size: 1.2rem;
}


